/* common */
/* global reset */
*{margin:0;padding:0;}
html,body{height:100%;}
body{background-color:#1a1a1a;color:#fff;font:13.34px helvetica,arial,clean,sans-serif;*font-size:small;text-align:center;text-transform:lowercase;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
h1{margin-bottom:1em;}
h2, h1 a{color:#8085C1;}
p{margin:1em 0;}
a{color:#d99230;}
a:hover{color:#4BC3D1;}
table{font-size:inherit;font:100%;}
/* home */
ul.posts{list-style-type:none;margin-bottom:2em;}
ul.posts li{line-height:1.75em;}
ul.posts span{color:#aaa;font-family:Monaco,"Courier New",monospace;font-size:80%;}
/* site */
.site{font-size:110%;text-align:justify;width:40em;margin:3em auto 2em auto;line-height:1.5em;}
.title{color:#a00;font-weight:bold;margin-bottom:2em;}
.site .title a{color:#a00;text-decoration:none;}
.site .title a:hover{color:#8de82c;}
.site .title a.extra{color:#aaa;text-decoration:none;margin-left:1em;}
.site .title a.extra:hover{color:black;}
.site .meta{color:#aaa;}
.site .footer{font-size:80%;color:#666;border-top:4px solid #eee;margin-top:2em;overflow:hidden;}
.site .footer .contact{float:left;margin-right:3em;}
.site .footer .contact a{color:#8085C1;}
.site .footer .contact a:hover{color:#8de82c;}
/* posts */
#post{}
/* standard */
#post ul,
#post ol{margin-left:1.25em;}
#related{margin-top:2em;}
#related h2{margin-bottom:1em;}
/* pygments - clean textmate theme */
@font-face{font-family: 'Inconsolata';src: url('Inconsolata.otf') format('truetype');}
.highlight  { background: #000; }
pre{font-family: 'Inconsolata',monospace, arial, clean, sans-serif; font-size: 15px; overflow: auto; padding:20px; text-transform: none;}
.highlight .k { color: #7bb205; } /* Keyword */
.highlight .nc { color: #fff; text-decoration: underline; } /* Name.Class */
.highlight .nx { color: #ac5600; font-style: italic;}
.highlight .na { color: #3f6ba7 } /* Name.Attribute */
.highlight .nb { color: #dad085 } /* Name.Builtin */
.highlight .nf { color: #7c9dff; } /* Name.Function */
.highlight .nv { color: #3f6ba7; } /* Name.Variable */
.highlight .m { color: #c20210 } /* Literal.Number */
.highlight .s1 { color: #04a00c; } /* Literal.String.Single */
.highlight .c { color: #b3b3b3; font-style: italic } /* Comment */
.highlight .cp { color: #b3b3b3; } /* Comment.Preproc */
.highlight .n { color: #7c9dff; }
.highlight .sd { color: #b3b3b3; } /* Literal.String.Doc */
.highlight .o { color: #ac5600 } /* Operator.Character */
.highlight .ow { color: #ac5600 } /* Operator.Word */