/* 11. About Page
------------------------------------- */
.post-preamble {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  min-height: 190px;
  position: relative;
}
.post-image {
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.post-image div {
  border: 1px solid #DDD;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 2px;
}
.post-image img {
  display: block;
  width: 200px;
}
.post-image span {
  font-size: 11px;
  font-style: italic;
}
.about-page .post ul {
  padding-bottom: 0;
}
.about-page .post p {
  padding-bottom: 0;
}
.about-page .post ul p {
  font-size: 14px;
  padding-right: 3em;
}
.about-page .location {
  font-weight: bold;
  position: relative;
}
.about-page .location .time-period {
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 0;
}
.about-page .position {
  margin-bottom: 4px;
}
.about-page #side-intro {
  display: none;
}
@media screen and (max-width: 600px) {
  body.page .post h1.post-title {
    font-size: 32px;
    padding: 10px 0;
    text-align: center;
  }
  .post-image {
    position: static;
  }
  .post-image img {
    width: 274px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: flipv; /*IE*/
  }
  .post h2,
  .post .lead {
    text-align: center;
  }
}