---
layout: default
body: blog single-post
---
{% include intro_responsive.markdown %}
<div id="content">
	<div class="post">
		<div class="post-meta">
			<span class="date"><i class="icon-calendar"></i> {{ page.date | date_to_string }} | </span>
			<span class="num-comments"><i class="icon-comments-alt"></i> <a href="#comments">(<span class="responses-number">0</span>)</a> | </span>
			<span class="categories"><i class="icon-folder-open"></i> Category: <a href="/categories/{{ page.category | replace:' ', '-' | downcase  }}">{{ page.category }}</a>
			</span>
			<span class="gittip">Tip me on Gittip:&nbsp;<iframe style="border: 0; margin: -1px 0 0 0; padding: 0;"
        src="https://www.gittip.com/josegonzalez/widget.html"
        width="48pt" height="20pt"></iframe></span>
		</div>
		<h1 class="post-title"><a href="#">{{ page.title }}</a></h1>
		{{ content }}
	</div>
	<div class="nextprev clearfix">
		<a class="prev" href="{{ page.previous.url }}"><span>{{ page.previous.title }}</span><br/>&larr; Previous Entry</a>
		<a class="next" href="{{ page.next.url }}"><span>{{ page.next.title }}</span><br/>Next Entry &rarr;</a>
	</div>

	<div class="related-posts section">
		<h3 class="uppercase-title">Related Posts</h3>
		<ol>
			{% for post in site.related_posts limit:site.related_limit %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ol>
	</div>

	<div id="comments" class="section">
		<div id="num-responses"><i class="icon-comments-alt"></i> <span class="responses-number">0</span> Responses. <a href="#comments">Add Yours!</a></div>
		<h3>Discussion</h3>
		<div id="disqus_thread" name="#comments">
		</div>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>

<div id="sidebar">
	{% include intro.markdown %}

	{% if page.tags.length %}
	<div id="popular-tags" class="section">
		<h2 class="section-title">Post Tags</h2>
		<ul>
			{% for tag in page.tags %}
				<li><a href="/tags/{{ tag | replace:' ', '-' | downcase  }}" name="{{ tag | replace:' ','-' | downcase }}">{{ tag }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	{% include sidebar_tabs.markdown %}
	{% include portfolio.markdown %}
</div>